@{
    ViewData["Title"] = "Home Page";
}

<div b-6eg8tbgho9="" class="container">
    <div b-6eg8tbgho9="" style="text-align: center;">
        <div b-6eg8tbgho9="" class="display-6"><strong b-6eg8tbgho9="">Deck Master</strong></div>
        <div>
            Welcome to DeckMaster, your one-stop shop for high-quality playing cards! 
            Whether you're looking for a unique gift or a classic deck of cards for your 
            next game night, we have it all. Our cards are made from premium materials and
            come in a variety of designs and styles to suit any taste. From classic card games
            to modern variants, our decks are sure to bring hours of entertainment. 
            With DeckMaster, you can always be sure of a superior gaming experience.
        </div>
        <button>
            <a class="nav-link text-dark" href="../Identity/Account/Login">Login To Purchase</a>
         </button>
    </div>
     
    </main>
</div>

